
<h1>Distant Reading Archive</h1><p>This site is a prototype API for distant reading of science fiction novels.</p>

<ul>
  <a target="_blank" href="/api/v1/resources/books?id=0">
    <li>/api/v1/resources/books?id=0</li>
  </a>
  <a target="_blank" href="/api/v1/resources/books?id=1">
    <li>/api/v1/resources/books?id=1</li>
  </a>
  <a target="_blank" href="/api/v1/resources/books?id=2">
    <li>/api/v1/resources/books?id=2</li>
  </a>
  <a target="_blank" href="/api/v1/resources/books?id=3">
    <li>/api/v1/resources/books?id=3</li>
  </a>
</ul>

<ul>
  <a target="_blank" href="/api/v1/resources/books/all">
    <li>/api/v1/resources/books/all</li>
  </a>
  <a target="_blank" href="/api/v1/resources/books?author=Connie+Willis">
    <li>/api/v1/resources/books?author=Connie+Willis</li>
  </a>
  <a target="_blank" href="/api/v1/resources/books?author=Connie+Willis&published=1999">
    <li>/api/v1/resources/books?author=Connie+Willis&published=1999</li>
  </a>
  <a target="_blank" href="/api/v1/resources/books?published=2010">
    <li>/api/v1/resources/books?published=2010</li>
  </a>
</ul>
